{
  "project_info": {
    "project_number": "477037475099",
    "project_id": "eggcraft-studio",
    "storage_bucket": "eggcraft-studio.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE_WITH_ANDROID_APP_ID_FROM_FIREBASE_CONSOLE",
        "android_client_info": {
          "package_name": "uk.co.eggcraft.studioflow"
        }
      },
      "api_key": [
        {
          "current_key": "REPLACE_WITH_ANDROID_API_KEY_FROM_FIREBASE_CONSOLE"
        }
      ]
    }
  ],
  "configuration_version": "1"
}
